.nav {
  position: sticky;
  top: 0;
  display: flex;
  min-width: 21.5rem;
  flex-direction: column;
  background-color: var(--color-secondary);
}

.nav-profile {
  height: 3rem;
  margin: 1rem 1rem 0 1rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    justify-content: center;
  }
}