.profile-list>* {
  width: 50%;
  max-width: 250px;
  min-width: 200px;
  height: 15rem;
}

.profile-list {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 1rem;
  scrollbar-width: none;
}