.profile-card {
    overflow: hidden;
}

.profile-card-img {
    width: 100%;
    height: 50%;
}

.profile-card-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: .5rem;
    gap: .5rem;
    font-weight: 700;
    font-size: 1.2rem;
}

.light {
    text-transform: uppercase;
    opacity: .5;
    font-size: .7rem;
}
