.form {
    display: flex;
    justify-content: center;   
    align-items: center;
    margin: 1rem;
    width: auto;
    position: relative;
}

.form-search {
    width: 100%;
    height: 3.5rem;
    border-radius: .5rem;
    background-color: var(--color-text);
    padding: 1rem;
    font-weight: 700;
    padding-right: 3rem;
    color: var(--color-background);
}

.form-icon {
    width: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    /* right:-42%; 
    top: 1rem; */
    height: 1.8rem;
    color: var(--color-background);
    cursor: pointer;
}

@media (min-width: 768px) {
    .form {
      width: 60%;
    }
  }
