.profile{
    width: 100vw;
    min-height: 100vh; 
    padding-bottom: 6rem; 
    color: var(--color-text);
    position: relative; 
}
.profile-appointment{
    margin: 1rem;
    cursor: pointer;
    position: fixed;
    bottom: 0rem;
    right: 1rem;
    cursor: pointer;
    width: 19.5rem;
    height: 4rem;
}
.profile-appointment_link{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:row;
    background-color: var(--color-accent);
    border-radius: 1.2rem;
}
.profile-appointment_text{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    font-size: 1.6rem;
    font-weight: 700;
    -webkit-text-stroke: 0.03rem var(--color-background);
}
.profile-appointment_icons{
    width: 20%;
    display: flex;
    align-items: center;
    position: relative;
}
.calendar{
    font-size: 2.5rem;
    color: var(--color-text);
    stroke: var(--color-background);
    stroke-width: 20;
}
.clock{
    position: absolute;
    font-size: 1.25rem;
    bottom: .2rem;
    right: 1rem;
    color: var(--color-text);
    stroke: var(--color-background);
    stroke-width: 20;
}
.background-header{
    position: absolute;
    left: 0;
    width: 100%;
    height: 12rem;
    background-color: var(--color-primary);
    filter: brightness(1.5);
}
.profile-header{   
    min-width: 20.5rem;
    height: 12rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
}
.profile-header_back{    
    display: flex;
    flex-direction: row;
    gap: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    margin: 1rem;
    z-index: 1;    
}
.profile-header_info{
    width: calc(40% - .5rem);
    height: 100%;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    position: relative;

}
.profile-header_img{
    border-radius: 1rem;
    display: flex;
    align-items: start;
    text-align: center;
    width: calc(60% - .5rem);
    max-height: 100%;
    object-fit: cover;
    overflow: hidden;
    mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 60%);
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 60%);
}

.profile-actions{
    min-width: 20.5rem;
    height: 5.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}
.profile-actions_item{
    width: 30%;
    min-width: 6rem;
    height: 3.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: .2rem;
    border-radius: .5rem;
    cursor: pointer;
}
.hidden{
    display: none;
}
.profile-info{
    min-width: 20.5rem;    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.profile-info_select{
    width: 80%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    cursor: pointer;
    overflow: hidden;    
    background:linear-gradient(to right, var(--color-primary), var(--color-background));
    color: var(--color-text);
    font-weight: 500;
}

.profile-info_select > *{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.313rem;
    height: 2.5rem;
    font-size: .8rem;
    
}
.selected{
    background-color: var(--color-secondary);
    color: var(--color-background);
    border-radius: .5rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.visible{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 1rem;
}
.profile-info_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 20.5rem;
    background-color: var(--color-background);
    border-radius: .5rem;
    
}
.services{
    min-width: 20.5rem;
    height: auto;
    
    
}
.item{
    min-width: content;
    padding: .3rem;
    text-align: center;
    border-radius: .5rem;
}

.about{
    padding: 1rem;
}

.price-table{
    width: 100%;
    border-collapse: collapse;
    margin: .5rem 1rem;
    font-size: 18px;
    text-align: left;
}

.price-table th, .price-table td {
    padding: 12px;
    border: 1px solid #ddd;
}

.price-table th {
    background-color: var(--color-secondary);
    color: var(--color-background);
}

.price-table tr {
    background-color: #f2f2f2;
}

.price-table tr:hover {
    background-color: var(--color-accent);
}

.profile-works{
    min-width: 20.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    color: var(--color-primary);
    font-size: 1.5rem;
    font-weight: 500;
}
.profile-works_imgs{
    min-width: 20.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}
.profile-works_imgs > *{
    width: 3.8rem;
    height: 3.8rem;
    border-radius: .5rem;
    overflow: hidden;
    background-color: red;
}

.profile-works_imgs > * img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}